{% extends "base.html" %}
{% load admin_urls %}
{% load static %}

{% block content %}
<!---Init_Component-->


      <!-- Button HTML (to Trigger Modal) -->
      <a href="#myModal" id="top-right" data-toggle="modal"><i class="fas fa-search-plus"></i></a>

      <!-- Modal HTML -->
      <div id="myModal" class="modal fade">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Info</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-6">
                        <p class="text-left">This is just the frontend of this web application, but you can also access backend!</p>
                      </div>
                      <div class="col-md-6">
                        <p class="text-left"> Use the following credentials:</p>
                        <p class="text-left"><strong>Username</strong>: aptiv</p>
                        <p class="text-left"><strong>Password</strong>: wewin123</p>
                      </div>
                    </div>
                  </div>

                  <p class="text-warning"><small>Preview & Multiple file uploading are features we are working on, you can already do it in backend!</small></p>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <a href="{% url 'admin:index' %}" class="btn btn-primary" id="backend"><strong>Access Backend!</strong></a>
                  </div>
              </div>
          </div>
      </div>


        <!-- Upload form-->
        <form class="text-center p-5 h-100 my-auto" enctype="multipart/form-data" method="post">
            {%  csrf_token %}

            <h1 class=" mb-4">
                <i class="fas fa-circle fa-lg align-middle " style="font-size: 0.7rem; color:  rgb(255, 81, 0)"></i>
                <span class="align-middle">APTIV</span>
                <i class="fas fa-circle fa-lg align-middle" style="font-size: 0.7rem; color:  rgb(255, 81, 0)"></i>
            </h1>
            <h1 class="mb-4">
                CHART & IMPACT REPORT VALIDATION
            </h1>




            <!-- upload file -->

            <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <div id = "pdf-upload" class="form-group file-upload" required="required">
                      <label class=" control-label" for="document_file">Upload PDF</label><br>
                          <div class="input-group">
                              <span class="input-group-addon" style="background-color:  #007bff"><i class="fas fa-folder-open " style="color:white"  aria-hidden="true"></i></span>
                              <div class="form-control" data-message="Click to select file or drag n drop it here">
                                  <div class = "before"><i id="pdfIcon" class="fa fa-cloud-upload"></i></div>
                                  <input id="pdfInput" required="required" title="Click to select file or drag n drop it here" type="file" name="documentPDF" >
                              </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="excel-upload" class="form-group file-upload" required="required">
                      <label class=" control-label" for="document_file">Upload Excel</label><br>
                          <div class="input-group">
                              <span class="input-group-addon" style="background-color:  #007bff"><i class="fas fa-folder-open " style="color:white" aria-hidden="true"></i></span>
                              <div class="form-control" data-message="Click to select file or drag n drop it here">
                                  <div class = "before"><i id="excelIcon" class="fa fa-cloud-upload"></i></div>
                                  <input id="excelInput" required="required" title="Click to select file or drag n drop it here" type="file" name="documentExcel">
                              </div>
                          </div>
                    </div>
                </div>
              </div>


{#                <div class="form-group">#}
{#                    <div class="col-md-12">#}
{#                        <span class="btn btn-default btn-file">#}
{#                          {% csrf_token %}#}
{#                            <input id="input-2" name="input2" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#              </div>#}
              <div class="row">
                    <div class="col-lg-4 col-lg-offset-3">
                        <h4>
                            Upload the chart
                            <i class="far fa-file-pdf"></i> , the report
                            <i class="far fa-file-excel"></i> or both.
                        </h4>
{#                        <p>You can also upload a .zip file with both documents</p>#}
                    </div>
                    <div class="col-lg-1">
{#                      <a id="upload" href="#" type="submit" tabindex="500" title="Upload selected files" class="btn btn-default btn-secondary fileinput-upload fileinput-upload-button"><i class="fas fa-upload"></i>  <span class="hidden-xs">Upload</span></a>#}
                      <button class="btn btn-default btn-secondary fileinput-upload fileinput-upload-button" type="submit" title="Upload selected files">
                        <i class="fas fa-upload"></i>  <span class="hidden-xs">Upload</span>
                      </button>
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="col-md-6 offset-md-3">#}
{##}
{#                        <div class="input-group mb-3 mw-5">#}
{#                            <div class="input-group-prepend">#}
{#                                <span class="input-group-text" style="font-size: 1.5rem"><i class="fas fa-folder-plus"></i></span>#}
{#                            </div>#}
{#                            <div class="custom-file">#}
{#                                <input type="file" name="filesToUpload[]" class="custom-file-input" id="inputGroupFile01" data-multiple-target="{target} files selected" multiple>#}
{#                                <label class="custom-file-label" for="inputGroupFile01"></label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>


{#            <!-- Execute Button -->#}


{#            <button class="btn btn-info my-4" style="background-color:  rgb(250, 93, 8); border-color: rgb(250, 93, 8)">Check for errors!</button>#}

            <h2 class="text-muted text-center my-3">Produced by <strong>GAME BUSTERS</strong></h2>
            <h3 class="text-center">Academic Games of Engineering</h3>

            <!-- email -->
            <p>Having Trouble?
                <a href="mailto:diogovalentepcs@gmail.com" style="color:rgb(250, 93, 8); font-size: 1.2rem"><i class=" fas fa-envelope "></i></a>
            </p>

{#            <div class="container">#}
{#                  <div class="row ">#}
{#                    <div class="col text-center">#}
{#                      <h3 class="text-muted">This is the frontend!</h3>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="row">#}
{#                    <div class="col text-center">#}
{#                      <a href="{% url 'admin:index' %}" class="btn btn-primary" id="backend"><strong>Access Backend Here!</strong></a>#}
{#                    </div>#}
{#                  </div>#}
{#                  <div class="row ">#}
{#                    <div class="col text-center">#}
{#                      <p><strong>Username</strong>: aptiv</p>#}
{#                      <p><strong>Password</strong>: aptiv123</p>#}
{#                    </div>#}
{#                  </div>#}
{#            </div>#}

        </form>
        <!-- Form Upload -->



  {% if output %}
    <h4>Output:</h4>
    <span style="white-space: pre-line">{{ output }}</span>
  {% endif %}





    <!---End_Component-->
{% endblock content %}


{% block javascript %}
  {{ block.super }}
    <script defer>
        bsCustomFileInput.init();

            $('input[type="file"]').on('change', function(e){
              var fileName = e.target.files[0].name;
              if (fileName) {
                var id = this.id;
                var extension = fileName.replace(/^.*\./, '');
                extension = extension.toLowerCase();
                if(id === "pdfInput") {
                  var icon1 = $( "#pdfIcon" );
                    if (extension === "pdf") {
                                        $(e.target).parent().attr('data-message', fileName);
                      icon1.removeClass().addClass("fas fa-file-pdf");
                      $(icon1).css({"color": "darkred"});
                    }else{
                      $(e.target).parent().attr('data-message', "Error: Please upload a PDF file");
                      icon1.removeClass().addClass("fas fa-exclamation-circle");
                      $(icon1).css({"color": "red"});
                    }

                }
                if(id === "excelInput") {
                    var icon2 = $( "#excelIcon" );
                    if (extension === "xls") {
                      $(e.target).parent().attr('data-message', fileName);
                      icon2.removeClass().addClass("fas fa-file-excel");
                      $(icon2).css({"color": "green"});
                    }else{
                      $(e.target).parent().attr('data-message', "Error: Please upload a XLS file");
                      icon2.removeClass().addClass("fas fa-exclamation-circle");
                      $(icon2).css({"color": "red"});
                }}


          }
        });
        {##}
        {#var fileNamePDF =#}
        {#$('#upload').css('cursor', 'not-allowed');#}



          {# $('input[type="file"]').on('change', function(e){#}
          {#  var fileName = e.target.files[0].name;#}
          {#  if (fileName) {#}
          {#    $(e.target).parent().attr('data-message', fileName);#}
          {#  }#}
          {#;#}

        {#$(document).on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {#}
        {#    if ($('input[type="file"]').length) {#}
        {#        if (['dragover', 'dragenter'].indexOf(e.type) > -1) {#}
        {#            if (window.dragTimeout)#}
        {#                clearTimeout(window.dragTimeout);#}
        {#            $('body').addClass('dragged');#}
        {#        } else if (['dragleave', 'drop'].indexOf(e.type) > -1) {#}
        {#            // Without the timeout, some dragleave events are triggered#}
        {#            // when the :after appears, making it blink...#}
        {#            window.dragTimeout = setTimeout(function() {#}
        {#                $('body').removeClass('dragged');#}
        {#            }, 100);#}
        {#        }#}
        {#    }#}
        {#;#}
    </script>
{% endblock %}
