{% extends "base.html" %}

{% load static %}

{% block content %}
<!---Init_Component-->
        <!-- Upload form-->
        <form class="text-center border border-light p-5">

            <h1 class=" mb-4">
                <i class="fas fa-circle fa-lg align-middle " style="font-size: 0.7rem; color:  rgb(255, 81, 0)"></i>
                <span class="align-middle">APTIV</span>
                <i class="fas fa-circle fa-lg align-middle" style="font-size: 0.7rem; color:  rgb(255, 81, 0)"></i>
            </h1>
            <h1 class="mb-4">
                CHART & IMPACT REPORT VALIDATION
            </h1>




            <!-- upload file -->

            <div class="container">
              <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <span class="btn btn-default btn-file">
                            <input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                        </span>
                    </div>
                </div>
              </div>
              <div class="row">
                    <div class="col-md-12">
                        <h4>
                            Upload the chart
                            <i class="far fa-file-pdf"></i> , the report
                            <i class="far fa-file-excel"></i> or both.
                        </h4>
                        <p>You can also upload a .zip file with both documents</p>
                    </div>
                </div>
{#                <div class="row">#}
{#                    <div class="col-md-6 offset-md-3">#}
{##}
{#                        <div class="input-group mb-3 mw-5">#}
{#                            <div class="input-group-prepend">#}
{#                                <span class="input-group-text" style="font-size: 1.5rem"><i class="fas fa-folder-plus"></i></span>#}
{#                            </div>#}
{#                            <div class="custom-file">#}
{#                                <input type="file" name="filesToUpload[]" class="custom-file-input" id="inputGroupFile01" data-multiple-target="{target} files selected" multiple>#}
{#                                <label class="custom-file-label" for="inputGroupFile01"></label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>


{#            <!-- Execute Button -->#}
{##}
{#            <button class="btn btn-info my-4" style="background-color:  rgb(250, 93, 8); border-color: rgb(250, 93, 8) " type="submit">Check for errors!</button>#}


            <h2 class="text-muted text-center my-3">Produced by <strong>GAME BUSTERS</strong></h2>
            <h3 class="text-center">FEUP Engineering Days</h3>

            <!-- email -->
            <p>Having Trouble?
                <a href="mailto:diogovalentepcs@gmail.com" style="color:rgb(250, 93, 8); font-size: 1.2rem"><i class=" fas fa-envelope "></i></a>
            </p>
        </form>
        <!-- Form Upload -->

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}





    <!---End_Component-->
{% endblock content %}


{% block javascript %}
  {{ block.super }}
    <script defer>
        bsCustomFileInput.init();
    </script>
{% endblock %}
